@model FireflyWebImporter.Models.Import.ImportIndexPageModel

<div class="text-center">
    <h1 class="display-4">Start the web importer</h1>

    @Html.DisplayFor(m => m.RequisitionList)

    @if (!Model.RequisitionList.AnyRequisitions)
    {
        <h3>First connect a bank to the importer</h3>
        <a role="button" class="btn btn-primary" href="@Model.ConfigurationStartUrl">Start configuration</a>
    }
    else
    {
        
    }
    
</div>