<div class="text-center">
    <h1 class="display-4">Import status</h1>
    
    <p>Connection status: <span id="connection-status" class="text-warning">Connecting</span></p>
    <p id="connection-help" class="text-danger" style="display: none;">Please reload the page to reconnect.</p>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Message events:</h5>
                <ul class="list-group" id="message-list"></ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Transaction events:</h5>
                <div id="transaction-list" class="d-flex flex-column"></div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="container-lg">
    <div class="card">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <div class="card-body"></div>
        <a href="#" class="card-link"></a>
        <a href="#" class="card-link"></a>
    </div>
</div>
-->

<script src="~/js/hubs/importer.js"></script>
